body {
    margin: 0;
    padding: 0;
}

#dice {
    display: flex;
    width: 90%;
}

.hidden {
    display: none !important;
}

#scoresheet {
    border: 2px solid #FFFFFF;
    width: 45%;
    text-align: center;
    border-collapse: collapse;
    margin-right: 3%;
}

#scoresheet td, #scoresheet th {
    border: 0px solid #FFFFFF;
    padding: 3px 4px;
}

#scoresheet tbody td {
    font-size: 13px;
}

#scoresheet td:nth-child(even) {
    background: #EBEBEB;
}

#scoresheet thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

#scoresheet thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}

#scoresheet thead th:first-child {
    border-left: none;
}

#scoresheet tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}

#scoresheet tfoot td {
    font-size: 14px;
}

#scoresheet #upper-tr {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

#scoresheet #bonus-row {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

img {
    width: 100%;
}

#restart-button {
    margin-bottom: 7%;
}

#inputSection {
    display: flex;
    width: 90%;
}

.confirm-button {
    margin-top: 5%;
}

#roll-button {
    width: 10%;
    margin-top: 1%;
    font-size: 15px;
}

fieldset {
    width: 45%;
}

@media (min-width: 630px) {
    #scoresheet {
        width: 255px;
        margin-right: 17px;
    }
    fieldset {
        width: 255px;
    }
}
